<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <atom:link href="{{RSS_FEED_SELF_LINK}}" rel="self" type="application/rss+xml" />
  <title>{{RSS_FEED_TITLE}}</title>
  <link>{{RSS_FEED_LINK}}</link>
  <copyright>{{STORE_NAME}}</copyright>
  <description>{{RSS_FEED_DESCRIPTION}}</description>
  <language>{{RSS_FEED_LANGUAGE}}</language>
  <pubDate>{{RSS_FEED_PUB_DATE}}</pubDate>
  <lastBuildDate>{{RSS_FEED_LAST_BUILD_DATE}}</lastBuildDate>
  <ttl>1440</ttl>
  <image>
	<title>{{RSS_FEED_IMAGE_TITLE}}</title>
	<url>{{RSS_FEED_IMAGE_URL}}</url>
	<link>{{RSS_FEED_IMAGE_LINK}}</link>
  </image>
{{content}}
</channel>
</rss>