<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{{PAGE_TITLE}}</title>
  <link rel="shortcut icon" href="{{DIR_WS_CATALOG}}favicon.ico" />
  <meta http-equiv="content-type" content="text/html; charset={{CHARSET}}" />
  <meta name="language" content="{{LANGUAGE}}" />
  <style type="text/css">
	@import url("{{DIR_WS_TEMPLATES_STYLES}}modern.css");
	@import url("{{DIR_WS_TEMPLATES_STYLES}}stylesheet.css");
	@import url("{{DIR_WS_TEMPLATES_STYLES}}layout4.css");
  </style>
</head>
<body onload="window.focus();">
<!-- Page BOF-->
{{warnings}}
<a name="top"></a>
<div id="page" class="clear">
  <div id="content">
	<div class="contentblock">
	  <div class="contentheader"><h1>{{TITLE}}</h1></div>
	  <div class="contentbody">
		<div class="description">
{{content}}
		</div>
	  </div>
	</div>
  </div>
</div>
<div id="popup_footer"><a href="#" onclick="window.close(); return false;">{{TEXT_CLOSE_WINDOW}}<br />[X]</a></div>
<!-- Page EOF-->
{{javascript_on_load}}
</body>
</html>