@media screen {

.sitemap_left_column {
  width: 62%;
  vertical-align: top;
}

.sitemap_right_column {
  width: 38%;
  vertical-align: top;
}

.sitemap_left_column a.level_1, .sitemap_right_column a.level_1 {
  display: block;
  padding-left: 1.5em;
}

.sitemap_left_column a.level_2, .sitemap_right_column a.level_2 {
  display: block;
  padding-left: 3em;
}

.sitemap_left_column a.level_3, .sitemap_right_column a.level_3 {
  display: block;
  padding-left: 4.5em;
}

.sitemap_left_column a.level_4, .sitemap_right_column a.level_4 {
  display: block;
  padding-left: 6em;
}

#sitemap_sections a.level_0, #sitemap_account a.level_0, #sitemap_categories a.level_0, #sitemap_manufacturers a.level_0, #sitemap_specials a.level_0, #sitemap_authors a.level_0, #sitemap_series a.level_0 {
  font-weight: bold;
}

#sitemap_sections a.level_1, #sitemap_categories a.level_1 {
  font-weight: bold;
}

.form-div {
  display: block;
}

.form-div input, .form-div textarea, .form-div select {
  border: 1px solid #818181;
}

form fieldset {
  border: 0;
  margin: 0 0 1em 0;
  padding: 0px 0px 5px 0px;
  text-align: left;
  font-size: 12px;
  line-height: 1.3em;
  background: #FFFFFF url(../images/bg_form_footer.gif) bottom left no-repeat;
}

form legend {
  padding: 5px 20px 9px 20px;
  font-weight: bold;
  font-size: 13px;
  display: block;
  width: 473px;
  background: url(../images/bg_form_header.gif) top left no-repeat;
}

form legend a {
  font-size: 11px;
}

form fieldset table {
  padding: 5px 0;
}

form fieldset table td {
  padding: 2px 5px 2px 7px;
  font-size: 13px;
}

form fieldset div {
  margin-top: 5px;
  padding: 5px 2px 5px 10px;
}

a.active_letter {
  color: #FF1717;
}

ul.search_results {
  display: block;
  text-align: center;
  margin: 10px auto 0 auto;
  padding: 0;
  height: 25px;
}

ul.search_results li {
  text-align: center;
  float: left;
  list-style: none;
  padding: 5px 0;
  margin: 0 2px 0 0;
  width: 135px;
  font-size: 11px;
  height: 15px;
}

.advanced-search {
  display: none;
}

.show_list_active {
  cursor: pointer;
  cursor: hand;
  background: #ADADAD;
}

.show_list_inactive {
  font-weight: normal;
  cursor: pointer;
  cursor: hand;
  background: #D9D9D9 ;
}

.show_list_desactive {
  font-weight: normal;
  color: #999999;
  background: #D9D9D9 ;
}

.smallText {
  font-size: 10px;
}

.mediumText {
  font-size: 11px;
}

.usualText {
  font-size: 12px;
}

.bigText {
  font-size: 14px;
}

.errorText {
  color: #B9242E;
}

.contentBox {
}

.inputRequirement {
  color: #B9242E;
  font-size: 7pt;
  padding-bottom: 0.5em;
}

#ManufacturersList {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}

#SeriesList {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

#AuthorsList {
  text-align: right;
  float: right;
}

#AuthorsList select {
  max-width: 250px;
  float: left;
  margin-right: 3px;
}

#AuthorsList a:link, #AuthorsList a:visited, #AuthorsList a:hover {
  display: inline;
  padding: 0;
  margin: 0;
  color: #9DB604;
  font-weight: bold;
  background: none;
}

#AuthorsList input {
  float: left;
  margin-right: 3px;
}

#AuthorsList input.author_disabled {
  width: 100px;
  color: #999999;
}

#AuthorsList input.author_activated {
  width: 100px;
}

/* product listing table */

table.productListing {
  background: #FFFFFF url(../images/bg_form_footer.gif) bottom left no-repeat;
  padding-bottom: 5px;
}

td.productListing-data-btw_first {
  background: url(../images/bg_form_header_1.gif) top left no-repeat;
  height: 6px;
}

td.productListing-data-btw {
  background: url(../images/bg_form_btw.gif) bottom left no-repeat;
  height: 30px;
}

input.productQuantity, select.productQuantity {
  width: 20px;
  text-align: right;
}

select.productQuantity {
  width: 70px;
  text-align: left;
}

td.productListing-data-image {
  vertical-align: top;
  padding: 10px 0;
}

td.productListing-data-name {
  vertical-align: top;
  line-height: 1.4em;
  padding: 5px 15px 0px 0;
  width: 77%;
}

td.productListing-data-image img, .row_product_image img, .row_product_image_cart img {
  max-width: 110px;
  max-height: 110px;
  border: 1px solid black;
  width: 80px;
}

.special_text {
  width: 90px;
  position: absolute;
  margin-top: -16px;
  margin-left: 0px;
  text-align: left;
}

.special_text img {
  width: auto !important;
  height: auto !important;
  border: 0 !important;
  vertical-align: top;
  padding-left: 0px;
}

.icon_fragments {
  width: 100px;
  height: 37px;
  background: url(../images/icon_fragments.png) bottom right no-repeat;
  margin-top: -37px;
  z-index: 10;
  position: absolute;
}

.row_product_image_cart {
  display: block;
  float: left;
  margin-right: 10px;
}

.row_btwh {
  height: 1px;
  background: url(../images/bg_dotted.gif) top left repeat-x;
}

.row_product_image {
  text-align: center;
}

.sortHeading {
  margin-bottom: 1.5em;
  background: #FFFFFF url(../images/bg_form_header_2.gif) top left no-repeat;
  height: 37px;
  padding: 5px 10px;
  font-size: 11px;
}

.sortHeading a:link, .sortHeading a:visited {
  padding-right: 10px;
  margin-right: 10px;
}

.sortHeading a:hover, .sortHeading a.active {
  color: #FF6700;
}

a.sorted_asc:link, a.sorted_asc:visited {
  background: url(../images/asc.gif) right center no-repeat;
  color: #FF6700;
}

a.sorted_desc:link, a.sorted_desc:visited {
  background: url(../images/desc.gif) right center no-repeat;
  color: #FF6700;
}

.row_product_name {
  line-height: 1.4em;
  font-size: 13px;
  margin-bottom: 1em;
}

.row_product_name .row_product_description {
  padding-top: 2px;
  font-size: 12px;
  line-height: 1.2em;
}

.product_description .row_product_name {
}

.product_description .row_product_image {
  float: left;
  padding: 5px 1em 1em 0;
}

.product_description .row_product_description {
  padding-top: 10px;
  background: url(../images/bg_dotted.gif) top left repeat-x;
  margin-bottom: 10px;
}

.product_description .row_product_image img {
  border: 1px solid black;
  width: auto;
  max-width: none;
  max-height: none;
}

.row_product_name a:link, .row_product_name a:visited {
  text-decoration: none;
}

.row_product_name a:hover {
  text-decoration: underline;
}

.row_product_model {
  margin-bottom: 10px;
}

.row_product_cover {
  margin-bottom: 10px;
}

.row_product_weight {
  margin-bottom: 10px;
}

.row_product_author {
  padding-bottom: 1em;
}

.row_product_author a:link, .row_product_author a:visited, .row_product_author a:hover {
  color: #842201;
  text-decoration: underline;
}

.row_product_author a:hover {
  text-decoration: none;
}

.row_product_available {
  font-weight: bold;
  margin-bottom: 10px;
}

.row_product_price_old {
  display: inline;
  font-weight: normal;
  padding-right: 10px;
  color: #000000;
  text-decoration: line-through;
}

.row_product_price {
  font-size: 14px;
  font-weight: bold;
  color: #C43711;
  float: left;
  padding-top: 3px;
}

.productListing-data-last .row_product_price {
  float: none;
  text-align: right;
}

.productListing-data-name .row_product_name {
}

.productListing-data-name .row_product_name a:link, productListing-data-name .row_product_name a:visited {
  color: #50493C;
  text-decoration: none;
  font-size: 14px;
}

.productListing-data-name .row_product_name a:hover {
  color: #50493C;
  text-decoration: underline;
  font-size: 14px;
}

.row_product_price span {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  padding-left: 5px;
}

.row_product_notify {
  font-size: 10px;
  font-weight: normal;
  color: #666666;
}

.row_product_notify .notify_selected_yes {
  font-weight: bold;
  font-size: 11px;
  color: #FF6700;
}

.row_product_notify .notify_selected_no {
  font-weight: bold;
  font-size: 10px;
}

.row_product_buy {
  float: right;
  padding-bottom: 1em;
  text-align: right;
  display: block;
}

.row_product_buy .subscribe_to {
  float: left;
}

.row_product_rating {
  color: #999999;
  margin-top: 10px;
  background: url(../images/bg_dotted.gif) top left repeat-x;
  padding-top: 10px;
}

.row_product_reviews {
  margin-top: 10px;
  padding-top: 10px;
}

.reviews_block {
}

.reviews_block_active {
  background-color: #eeeeee;
}

.reviews_description {
  max-height: 200px;
  overflow: auto;
  padding: 0.7em 0;
}

.product_review {
  margin-top: 1.5em;
}

.productSpecialPrice {
  font-size: 12px;
  color: #B9242E;
  font-weight: bold;
  white-space: nowrap;
}

.productPrice {
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
}

.productSpecialName {
  color: #6699CC;
  font-weight: bold;
}

.specials_block {
  padding: 0;
  width: 154px;
}

.specials_block_btw {
  padding: 25px;
  background: url(../images/bg_dotted.gif) top center repeat-y;
}

.specials_block_btwh {
  height: 1px;
  background: url(../images/bg_dotted.gif) top left repeat-x;
}

.specials_block .row_product_image {
  margin: 10px 0 5px 0;
}

.specials_block .row_product_name {
  margin: 5px 0;
}

.specials_block .row_product_author {
  margin: 5px 0 0 0;
}

.specials_block .row_product_price {
  margin-bottom: 5px;
}

.specials_block .row_product_buy {
  margin-bottom: 5px;
}

#listing-split {
  font-size: 10px;
  margin: 1.5em 0;
}

#listing-split td {
  font-size: 10px;
}

.pageResultsActive {
  color: #FF6700;
}

.buttons {
  margin-bottom: 10px;
  padding-top: 5px;
  width: auto;
}

/* product listing table eof */

table.partner_table, table.bordered {
  border: 1px solid #D6D6D6;
  border-right: none;
  border-bottom: none;
}

table.partner_table td, table.bordered td {
  border-bottom: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
  padding: 2px;
}

}